<div class="editor">
    
<div class="menu">
    <div dropdown class="files-dropdown">
        <button type="button" dropdown-toggle class="btn btn-default">Select File</button>
        <ul class="dropdown-menu">
            <li ng-repeat="file in vm.files">
                <a ng-href="{{file | editorUrl}}" ng-click="vm.readFile(file)">{{file.name}}</a>
            </li>
        </ul>
    </div>
    <button type="button" class="create-button btn btn-default" ng-click="vm.resetForm()">New</button>
    <button type="button" class="save-button btn btn-default" ng-click="vm.save()">Save</button>
    <button type="button" class="delete-button btn btn-default" ink ink-color="red" ng-click="vm.confirmDelete($event)">Delete</button>
    <button type="button" class="logoff-button btn btn-default" ng-click="vm.logoff()">Logoff</button>
</div>

<article>
    <flipper flipped="vm.flipped" horizontal>
        <front>
            <form name="vm.contentForm" ng-submit="vm.save()" novalidate>
            <div class="input-field">
                <input name="title" class="title validate ignore-success" type="text" ng-model="vm.content.title" required floating-label="filename"/>       
            </div>
            <div class="input-field">
                <textarea floating-label="content" materialize-textarea="true" ng-model="vm.content.body">
                </textarea>
                </div>
            </form>
        </front>
        <back>
            <div marked="vm.content.markdownBody"></div>
        </back>
    </flipper>
</article>

<button type="button" class="flip-button btn btn-default" ng-click="vm.flip()">View Markdown</button>

</div>
