@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/neat/app/assets/stylesheets/neat";

@import "../login/login";
@import "../editor/editor";

$background-color: #3b3b3b;
$article-font-color: white;

html,
body {
    height: 100%; 
    background: $background-color;
}

.container {
    min-height: 100%;
    margin: 0 auto -120px;
    padding: 0 0 120px;
    background-color: $background-color;
}
