@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/neat/app/assets/stylesheets/neat";

$background-color: #3b3b3b;
$article-font-color: white;

html,
body {
    height: 100%; 
    background: $background-color;
}

.container {
    @include outer-container;

    min-height: 100%;
    margin: 0 auto -120px;
    padding: 0 0 120px;
    background-color: $background-color;

    .menu {
        height: 35px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .create-button {
        @include span-columns(3);
    }
 
    .delete-button {
        @include span-columns(2);
    }
 
    .save-button {
        @include span-columns(3);
    }

    .files-dropdown {
        @include span-columns(2);
    }

    .logoff-button {
        @include span-columns(2);
        @include omega();
    }

    .logon-button {
        @include span-columns(8);
        @include omega();
    }

    .flip-button {
        @include shift(3);
        @include span-columns(6);
    }

    article {
        @include span-columns(12);

        /*border: 1px dotted;*/
        padding: 0 10px 0 10px;
        color: $article-font-color;
    }
}

.input-field .title {
    font-size: 35px;
}

.tile { 
    color: white;
    padding: 15px;
    -webkit-box-sizing: border-box;
}
        
flipper {
    margin-right: 15px;
    display: block;
    -webkit-perspective: 1000;
    
    span {
        color: white;
    }
    
    >div.flipper {
        width: 100%;
        height: 100%;
        position: relative;        
        .front, .back {
            /*border:  1px dotted;*/
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        .front {
            z-index: 2;
            position: relative;
            visibility: visible;
            opacity: 1;
            -webkit-transition: visibility 0s, opacity 0.5s linear;
        }

        .back {
            top: 0;
            left: 0;
            position: absolute;
            visibility: hidden;
            opacity: 0;
            -webkit-transition: visibility 0s, opacity 0.5s linear;
        }
    }
}

flipper[horizontal] {
    div.flipper.flipped {
        .front {
            top: 0;
            left: 0;
            position: absolute;
            visibility: hidden;
            opacity: 0;
            -webkit-transition: visibility 0s, opacity 0.5s linear;
        }

        .back {
            position: relative;
            visibility: visible;
            opacity: 1;
            -webkit-transition: visibility 0s, opacity 0.5s linear;
        }
    }
}
