@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/neat/app/assets/stylesheets/neat";

$background-color: #3b3b3b;
$article-font-color: white;

$visual-grid: true;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: 0.5;

html,
body {
    height: 100%; 
    background: $background-color;
}

article {
    /*border: 1px dotted;*/
    padding: 0 10px 0 10px;
    color: $article-font-color;

}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.container {
    @include outer-container;

    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* negative indent footer by its height */
    
    margin: 0 auto -120px;
    /* pad bottom by footer height */
    
    padding: 0 0 120px;
    background-color: $background-color;

    .menu {
        height: 35px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .create-button {
        @include span-columns(3);
        /*background-color: yellow;*/
    }
 
    .save-button {
        @include span-columns(3);
        /*background-color: orange;*/
    }

    .files-dropdown {
        @include span-columns(3);
        /*background-color: blue;*/
    }

    .logon-button {
        @include span-columns(8);
        @include omega();
        /*background-color: orange;*/
    }

    .logoff-button {
        @include span-columns(3);
        @include omega();
        /*background-color: orange;*/
    }

}
