<!DOCTYPE html>
<html lang="en" ng-app="noopad">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>noopad</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/vendor.css">
</head>

<body ng-controller="AppController">
    <div class="container">
        <button type="button" class="login-button btn btn-default" ng-if="!userDisplayName" ng-click="login()">Login</button>

        <div ng-if="userDisplayName">
            <button type="button" class="create-button btn btn-default" ng-click="newFile()">Create</button>
            <button type="button" class="save-button btn btn-default" ng-click="saveFile()">Save</button>
            <div dropdown>
                <button type="button" dropdown-toggle class="files-dropdown btn btn-default">Select File</button>
                <ul class="dropdown-menu">
                    <li ng-repeat="file in files">
                        <a href="" ng-click="showFile(file)">{{file}}</a>
                    </li>
                </ul>
            </div>
            <button type="button" class="logoff-button btn btn-default" ng-click="logoff()">Logoff</button>


            <article>
                <h1>{{content.title}}</h1>
                <textarea materialize-textarea="true" floating-label="{{content.title}}" ng-model="content.body">
                </textarea>
            </article>
        </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
